* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding-top: 15px;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  
}


.grid-wrapper {
  height:600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.grid div {
  flex-grow: 1;
  height: 10%;
  width: 10%;
}


.o, .i, .j, .l, .t, .s, .z{
  border: 1px solid black; 
  background-color: blue; 
}

.dead{
  border: 1px solid black; 
  background-color: darkgray;
}